openapi: 3.0.3
info:
  title: Tampa Electric Account Accounts API
  description: The Tampa Electric Account API provides programmatic access to customer account management capabilities including billing, energy usage history, payment processing, service requests, and energy efficiency programs. Used by residential and commercial customers and authorized third-party applications through the Tampa Electric developer portal.
  version: 1.0.0
  contact:
    url: https://developer.tecoenergy.com/
  license:
    name: Proprietary
    url: https://www.tecoenergy.com/
servers:
- url: https://api.tecoenergy.com/v1
  description: Tampa Electric API - Production
tags:
- name: Accounts
paths:
  /accounts/{accountNumber}:
    get:
      operationId: getAccount
      summary: Get Account Details
      description: Retrieve account information for a Tampa Electric customer account.
      tags:
      - Accounts
      parameters:
      - name: accountNumber
        in: path
        description: Customer account number.
        required: true
        schema:
          type: string
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Account details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '401':
          description: Unauthorized.
        '404':
          description: Account not found.
components:
  schemas:
    Account:
      type: object
      description: A Tampa Electric customer account.
      properties:
        accountNumber:
          type: string
          description: Unique customer account number.
        customerName:
          type: string
          description: Account holder name.
        serviceAddress:
          type: object
          properties:
            streetAddress:
              type: string
            city:
              type: string
            state:
              type: string
            zipCode:
              type: string
        accountType:
          type: string
          description: Type of account.
          enum:
          - residential
          - commercial
          - industrial
        serviceType:
          type: string
          description: Type of utility service.
          enum:
          - electric
          - gas
          - electric-and-gas
        status:
          type: string
          description: Account status.
          enum:
          - active
          - inactive
          - pending
        currentBalance:
          type: number
          format: double
          description: Current account balance in USD.
        dueDate:
          type: string
          format: date
          description: Payment due date for current balance.
        paperlessBilling:
          type: boolean
          description: Whether paperless billing is enabled.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
